/* constants */

@background_color:			#5B83AD;
@header_footer_color:		#123456;
@corner_radius:				15px;

/* imports */

@import "elements.less";
@import "bootstrap_less/bootstrap.less";

/* css classes */

.main-header-or-footer {
	background: @header_footer_color;
	padding: 10px;
	.rounded(@corner_radius);
}

.cool-element-common {
	.gradient(black, black, gray);
	.rounded(0);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid black;
	color: white;
	margin: 0px;
	font-size: 14px;
	display: inline-block;
}

.cool-element {
	.cool-element-common;
	
	&:first-child {
		.border-radius(0, 0, 5px, 5px);
	}
	
	&:last-child {
		.border-radius(5px, 5px, 0px, 0px);
	}
}

.last-cool-element {
	.cool-element-common;
	.border-radius(5px, 5px, 0px, 0px);
}

.first-cool-element {
	.cool-element-common;
	.border-radius(0px, 0px, 5px, 5px);
}

.middle-cool-element {
	.cool-element-common;
	.rounded(0);
}

.cool-button {
	&:hover {
		.gradient(red, red, gray);
		.drop-shadow(0, 0, 5px, 0.7);
	}
	
	&.active {
		.gradient(orange, orange, gray);
	}
	
	&.pressed {
		.drop-shadow(0, 0, 12px, 1.0);
		.gradient(red, red, black);
		
		&.active {
			.gradient(orange, orange, black);
		}
	}
	
	.caret {
		margin-top: 7px;
		margin-left: 7px;
	}
}

.cool-button-group {
	font-size: 0;	/* to remove spaces between menu elements */
	
	p {
		.cool-element;
	
		a, a:hover {
			color:white;
		}
	}

	button {
		.cool-element;
		.cool-button;
		margin-bottom: 0px;
	}
	
	.btn-group {
		button {
			.middle-cool-element;
			.cool-button;
			margin-bottom: 0px;
		}
	
		&:first-child {
			button {
				.first-cool-element;
				.cool-button;
				margin-bottom: 0px;
			}
		}
		
		&:last-child {
			button {
				.last-cool-element;
				.cool-button;
				margin-bottom: 0px;
			}
		}
	}
}

/* html5 tags */

body {
	width: 1000px;
	background: @background_color;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
	display: box;
	.rounded(@corner_radius);
	.drop-shadow(0, 0, 5px, 0.7);
}

header {
	.main-header-or-footer;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0px;
	color: white;
	
	h1 {
		margin-left: 30px;
		text-shadow: 0px 0px 5px black;
	}
}

footer {
	.main-header-or-footer;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin: 0px;
	color: gray;
	text-align: center;
	text-shadow: 0px 1px 0px black;
}

table {
	.table;
	.table-bordered;
	.table-hover;
	.table-condensed;
	width: 90%;
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	
	th, td {
		text-align: center;
	}
	
	thead {
		background: gray;
		color: white;
		
		th.id {
			width: 25px;
		}

		th.picture {
			width: 50px;
		}

		th.edit-tools {
			width: 100px;
		}
	}
	
	.name {
		&th {
			width: auto;
		}
		
		text-align: left;
	}
}

/* css ids */

#page-body {
	background: white;
	margin: 0px;
	padding: 15px;
}

#login-status {
	display: box;
	float: right;
	
	.cool-button-group;
	
	button {
		margin-bottom: 10px;
	}
}

#menubar {
	padding: 10px;
	color: white;
	.gradient(gray, gray, @header_footer_color);
	.inner-shadow(0, 0, 2px, 0.7);
	
	ul.dropdown-menu {
		top: 30px;
	}
	
	.btn-group, .btn-group:first-child, .btn-group:last-child {
		display: inline-block;
		margin-left: 0px;
		
		&.open {
			button {
				.cool-button.pressed;
				
				&:hover {
					.cool-button.pressed;
				}
			}
		}
	}
	
	.dropdown-menu {
		border: 1px solid black;
		
		li {
			color: black;
			padding: 5px;
			padding-left: 15px;
			padding-right: 15px;
			border: 1px solid white;
			
			&:hover {
				background-color: blue;
				color: white;
				border: 1px solid black;
			}
		}
	}
}

nav#site-menu {
	.cool-button-group;
}
