@{
    ViewBag.Title = "Sikeres nyomtatás";
}

<h2>@ViewBag.Title</h2>

<p>Tájékoztatjuk, hogy a nyomtatási kérést elküldtük a célnyomtatónak. Kérjük ellenőrizze a művelet sikerességét.</p>

<br />
<br />
<p>
    <div class="formlike">
        <div class="form-buttons">
            @Html.ActionLink("Vissza a számlák listájához", "Index")
        </div>
    </div>
</p>