@{
    ViewBag.Title = "Sikertelen nyomtatás";
}

<h2>@ViewBag.Title</h2>

<p>Sajnáljuk, de a célnyomtató hibájából adódóan a nyomtatás <strong>sikertelen volt</strong>. Kérjük próbálja meg később.</p>

<br />
<br />
<p>
    <div class="formlike">
        <div class="form-buttons">
            @Html.ActionLink("Vissza a számlák listájához", "Index")
        </div>
    </div>
</p>