@{
    ViewBag.Title = "Nincs bejelentett nyomtató";
}

<h2>@ViewBag.Title</h2>

<p>Sajnáljuk, de jelenleg Önhöz egyetlen olyan kölcsönző sincs rendelve, ahol van bejelentett nyomtató.</p>

<br />
<br />
<p>
    <div class="formlike">
        <div class="form-buttons">
            @Html.ActionLink("Vissza a számlák listájához", "Index")
        </div>
    </div>
</p>