@{
    ViewBag.Title = "Sikeres regisztráció";
}

<h2>@ViewBag.Title</h2>
<p>
    Az Ön által létrehozott felhaszálót rögzítettük. Kérjük várjon, ameddig munkatársaink jóváhagyják a regisztrációt. Ha néhány óra múlva sem tud belépni az oldalra, kérjük vegye fel a kapcsolatot az üzemeltetővel.
</p>
